/* Шрифты */
@font-face {
  font-family: 'TT Norms Bold';
  src: url('../fonts/TTNorms-Bold.eot');
  src: local('TT Norms Bold'), local('TTNorms-Bold'),
  url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Bold.woff') format('woff'),
  url('../fonts/TTNorms-Bold.ttf') format('truetype');

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TTNorms';
  src: url('../fonts/TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
  url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Regular.woff') format('woff'),
  url('../fonts/TTNorms-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms Medium';
  src: url('../fonts/TTNorms-Medium.eot');
  src: local('TT Norms Medium'), local('TTNorms-Medium'),
  url('../fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TTNorms-Medium.woff') format('woff'),
  url('../fonts/TTNorms-Medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeometriaM';
  src: url('../fonts/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Medium.woff') format('woff'),
  url('../fonts/Geometria-Medium.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
}