#section-4 {
  width: 100%;
  height: 100%;
  background: url("../img/section-4_bg.jpg") center top no-repeat;
  background-size: 1920px 100%;
}

.section-4_title-link {
  margin-top: 85px;
  justify-content: space-between;

  @include mq('tablet-small') {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .title {
    position: relative;
    @include title-triangle;

    h2 {
      @include font-title(55px,$font-2,$color-grey);
    }
  }

  .link {
    margin-top: 33px;
    margin-right: 176px;
    align-items: center;

    @include mq('tablet-small') {
      margin-top: 30px;
    }

    a {
      margin-left: 20px;
      font: 18px $font;
      font-weight: 500;
      color: $color-red;
      text-decoration: underline;
    }
  }
}

.section-4_elements-form {

  .container {
    position: relative;
    z-index: 1;
    margin-top: 38px;
    justify-content: space-between;

    @include mq('tablet-wide') {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@mixin section-4_pseudo {
  @include pseudo($index:-1,$left:-320px,$right:0,$top:0,$bottom:0);
  background-size: cover;
}

@mixin section-4_element-before {
  height: 100%;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

#section-4 .elements-wrap {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
  justify-content: center;

  @include mq('tablet-wide') {
    width: 100%;
  }

  .element {
    position: relative;
    max-height: 174px;
    height: 100%;
    flex: 1 1 100%;
    padding: 50px 0;
    align-items: center;

    @include mq('tablet-wide') {
      width: 100%;
      max-height: 100%;
    }

    p {
      font: 24px $font-2;
      font-weight: 500;
      color: $color-grey;

      span {
        color: $color-red;
      }
    }

    &:nth-child(1) {
      margin-top: 1px;
      background: url("../img/section-4_element-1_bg-2.png") right center no-repeat;
      background-size: auto 100%;
      &:before {
        @include pseudo(-1,-530px,-5px,1px,1px);
        @include section-4_element-before;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 95%, rgba(217,217,217,1) 100%);

        @include mq('tablet-wide') {
          @include pseudo(-1,-40px,-40px);
        }
      }

      @include mq('tablet-wide') {
        padding: 20px 0;
        background: none;
      }
    }

    &:nth-child(2) {
      background: url("../img/section-4_element-2_bg-2.png") right center no-repeat;
      background-size: auto 100%;
      &:before {
        @include pseudo(-1,-530px,-5px,1px,1px);
        @include section-4_element-before;
        background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(221,221,221,1) 95%, rgba(205,205,205,1) 100%);

        @include mq('tablet-wide') {
          @include pseudo(-1,-40px,-40px);
        }
      }

      @include mq('tablet-wide') {
        padding: 20px 0;
        background: none;
      }
    }

    &:nth-child(3) {
      background: url("../img/section-4_element-3_bg-2.png") right center no-repeat;
      background-size: auto 100%;
      &:before {
        @include pseudo(-1,-530px,-5px,1px,1px);
        @include section-4_element-before;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(228,228,228,1) 95%, rgba(217,217,217,1) 100%);

        @include mq('tablet-wide') {
          @include pseudo(-1,-40px,-40px);
        }
      }

      @include mq('tablet-wide') {
        padding: 20px 0;
        background: none;
      }
    }

    &:nth-child(4) {
      background: url("../img/section-4_element-4_bg-2.png") right center no-repeat;
      background-size: auto 100%;
      &:before {
        @include pseudo(-1,-530px,-5px,1px,1px);
        height: 99% !important;
        @include section-4_element-before;
        background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(221,221,221,1) 95%, rgba(205,205,205,1) 100%);

        @include mq('tablet-wide') {
          @include pseudo(-1,-40px,-40px);
        }
      }

      @include mq('tablet-wide') {
        padding: 20px 0;
        background: none;
      }
    }
  }
}

#section-4_form {
  position: relative;
  z-index: 2;
  flex: 1 0 auto;
  max-width: 483px;
  padding: 33px 100px 25px 15px;
  background: white;

  &:after {
    @include  pseudo(-1,-75px,0,0,-1px);
    background: white;
    width: 100%;
    transform: skew(12deg, 0deg);

    @include mq('tablet-wide') {
      background: none;
    }
  }

  @include mq('tablet-wide') {
    margin-top: 30px;
    @include auto;
    width: 100%;
    background: rgba(255,255,255,.5);
  }

  form {
    @include mq('tablet-wide') {
      margin-top: 30px;
      @include auto;
      max-width: 300px;
    }
  }

  @include mq('desktop') {
    padding: 25px 80px 25px 10px;
  }

  @include mq('tablet-wide') {
    padding: 25px 50px 25px 10px;
  }

  @include mq('tablet') {
    padding: 25px 20px 25px 10px;
  }

  h3 {
    font: 29px $font-2;
    font-weight: 500;
    color: $color-grey;

    @include mq('tablet-wide') {
      text-align: center;
    }
  }

  .input-wrap {
    overflow: hidden;
    margin-top: 25px;
    width: 100%;
    max-width: 360px;

    &:nth-child(1) {
      margin-top: 35px;
    }
  }

  .textarea textarea {
    height: 62px;
  }

  @include form-triangle;

  .btn-form_submit {
    @extend %btn-general;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 38px;
    font: 18px $font;
    font-weight: 400;
    color: white;

    @include mq('tablet-wide') {
       @include auto;
     }
  }
}