@import 'reset';
@import 'fonts';

/* Переменные */
$color-red: #ea271a;
$font: TTNorms, sans-serif;
$font-2: GeometriaM, sans-serif;
$color-grey: #343434;
$light-grey: #d9dada;
$light-grey_2: #757575;

/* Экстенды */

%text-font {
  font: 24px $font;
  font-weight: 400;
  color: $color-grey;
}

%btn-general {
  width: 261px;
  height: 63px;
  background: $color-red;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

%button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Миксины */

$breakpoints: (
        "phone":        400px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "tablet":       768px,
        "tablet-wide":  1024px,
        "desktop":      1280px,
        "desktop-wide": 1440px
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == min {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mq-custom($width, $type: max) {
    @if $type == min {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
}

@mixin auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin pseudo($index:1,$left:0,$right:0,$top:0,$bottom:0,$display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
  z-index: $index;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin absolute($index:1,$left:0,$right:0,$top:0,$bottom:0) {
  position: absolute;
  z-index: $index;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
}

@mixin font-title($size:55px, $family:$font, $color:$color-grey) {
  font: $size $family;
  font-weight: 500;
  color: $color;
  padding-top: 28px;

  @include mq('desktop') {
    font: 45px $family;
  }

  @include mq('tablet') {
    font: 35px $family;
  }

  @include mq('phone-wide') {
    font: 30px $family;
  }
}

@mixin title-triangle {
  &:before {
    @include pseudo(1,0,auto,0,auto);
    width: 0;
    height: 0;
    border-top: 20px solid $color-red;
    border-right: 20px solid transparent
  }
}

@mixin form-triangle {
  &:before {
    @include pseudo(1,auto,0,0,auto);
    width: 0;
    height: 0;
    border-top: 20px solid $color-red;
    border-left: 20px solid transparent
  }
}

@mixin text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin input {
  input {
    width: 100%;
    border: 1px solid $light-grey;
    padding: 10px 15px 10px 25px;
    font: 16px $font-2;
    font-weight: 400;
    color: $color-grey;
  }
}

@mixin textarea {
  textarea {
    width: 100%;
    border: 1px solid $light-grey;
    padding: 10px 15px 10px 25px;
    font: 16px $font-2;
    font-weight: 400;
    color: $color-grey;
  }
}

@mixin select {
  select {
    width: 100%;
    border: 1px solid $light-grey;
    padding: 10px 15px 10px 25px;
    font: 16px $font-2 !important;
    font-weight: 400;
    color: $light-grey_2;
  }
  option {
    padding: 10px;
    font: 16px $font-2 !important;
    font-weight: 400;
    color: $light-grey_2;
    box-sizing: content-box;
    filter: hue-rotate(125deg);
  }
}

@mixin input-checkbox {

  label {
    align-items: center;
  }

  input {
    display: none;
  }

  span {
    display: block;
    margin-left: 30px;
    font: 14px $font;
    font-weight: 400;
    color: $light-grey_2;
  }
}

@mixin label {
  position: relative;

  label {
    position: relative;
    font: 16px $font-2;
    font-weight: 400;
    color: $light-grey_2;

    span {
      position: absolute;
      left: 18px;
      top: 0;
      color: $color-red;
      opacity: 1;
    }
  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    opacity:1;
    font: 16px $font-2;
    font-weight: 400;
    color: $light-grey_2;
  }/* webkit */
  ::-moz-placeholder          {
    opacity:1;
    font: 16px $font-2;
    font-weight: 400;
    color: $light-grey_2;
  }/* Firefox 19+ */
  :-moz-placeholder           {
    opacity:1;
    font: 16px $font-2;
    font-weight: 400;
    color: $light-grey_2;
  }/* Firefox 18- */
  :-ms-input-placeholder      {
    opacity:1;
    font: 16px $font-2;
    font-weight: 400;
    color: $light-grey_2;
  }/* IE */

  :focus::-webkit-input-placeholder {opacity:0;}/* webkit */
  :focus::-moz-placeholder          {opacity:0;}/* Firefox 19+ */
  :focus:-moz-placeholder           {opacity:0;}/* Firefox 18- */
  :focus:-ms-input-placeholder      {opacity:0;}/* IE */
}

/* flex классы */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.section {
  overflow-x: hidden;
}

/* Общие классы */

.screen-reader-response, .wpcf7-validation-errors, .wpcf7-not-valid-tip, .wpcf7-response-output, .wpcf7-mail-sent-ok {
  display: none !important;
}

div.wpcf7 .ajax-loader {
  display: none;
}

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

html {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

html.fixed {
  margin-right: 17px;
  overflow: hidden;
}

/*Контейнер для всего сайта */
.wrapper {
  z-index: 0;
  width: 100%;
  overflow: hidden;
}

#preloader {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.preloader-img {
  img {
    display: block;
  }
}

  .overlay {
    display: none;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,.5);
  }

  .container {
    width: 100%;
    max-width: 1280px;
    padding: 0 10px;
    margin: 0 auto;

    @include mq('desktop') {
      padding: 0 30px;
    }

    @include mq('tablet') {
      padding: 0 20px;
    }

    @include mq('phone-wide') {
      padding: 0 10px;
    }
  }

  /* Формы */
  .input-checkbox {
    label {
      position: relative;

      &:before {
        @include pseudo(1,0,0,auto,auto);
        border-radius: 3px;
        width: 15px;
        height: 15px;
        border: 1px solid $light-grey;
      }
    }
  }

  .input-checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: $color-red;
    text-align: center;
    line-height: 15px;
  }

  .input-wrap.input {
    @include label;
    @include input;
    @include placeholder;

    input {
      height: 44px;
    }
  }

  .input-wrap.input-options {
    @include label;
    @include select;
    @include placeholder;
  }
  .input-wrap.textarea {
    @include label;
    @include textarea;
    @include placeholder;
    height: 82px;
  }

  .input-wrap.input-checkbox {
    @include input-checkbox;
    margin-top: 20px;
  }

  /* Шапка */
.main-header.white-bg {
  background: rgba(255,255,255,.8);
  padding: 10px 0;
}

.main-header.white-el {

  .main-header_company-text {
    p {
      font: 16px TTNorms, sans-serif;
      font-weight: 500;
      color: white;
    }
  }

  .header_phone {
    a {
      font: 18px TTNorms, sans-serif;
      font-weight: 600;
      color: white;
    }
  }
}

.main-header {
  padding-top: 28px;
  width: 100%;
  position: fixed;
  z-index: 998;
  transition: padding-top .3s linear;

  .container {
      padding: 0 10px;
      justify-content: space-between;

      @include mq('desktop') {
        padding: 0 30px;
      }

      @include mq('tablet') {
        padding: 0 20px;
      }

      @include mq('phone-wide') {
        padding: 0 10px;
      }
    }

    .main-header_left {
      @include mq-custom(830px) {
        flex-direction: column;
      }
    }

    .main-header_company-text {
      @include mq-custom(830px) {
        margin-left: 0;
        margin-top: 20px;
      }
      
      @include mq('phone-wide') {
        display: none;
      }
    }

    .main-header_right {
      @include mq('phone') {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
      }

      .header_btn-menu {
        @include mq('phone') {
          order: 1;
        }
      }

      .header_call-me {
        @include mq('phone') {
          display: none;
          margin-top: 10px;
          order: 2;
        }
      }

      .header_phone {
        @include mq('tablet-small') {
          display: none;
        }
      }
    }
  }

  .header-logo {
    margin-top: 11px;
    width: 150px;
    height: 38px;
    background: $color-red;
    background:linear-gradient(135deg, transparent 5px, $color-red 0);
    box-sizing: border-box;
    a {
      font: 19px/24px $font;
      font-weight: 600;
      color: white;
      text-transform: uppercase;

      sup {
        font: 10px $font;
        font-weight: 600;
      }
    }
  }

  .main-header_company-text {
    margin-left: 44px;
    margin-top: 10px;

    p {
      font: 16px $font;
      font-weight: 500;
      color: $color-grey;
    }
  }

  .main-header_right {
    align-items: center;
    justify-content: space-between;
  }

  .header_call-me {
    width: 61px;
    height: 61px;
    cursor: pointer;

    @extend %btn-general;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;

    &:hover {
      width: 261px;
      height: 61px;
      p {
        opacity: 1;
        visibility: visible;
        transition: all 1s linear;
      }
    }

    p {
      opacity: 0;
      visibility: hidden;
      margin-right: 18px;
      font: 18px $font;
      font-weight: 500;
      color: white;
      transition: all .2s linear;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      @extend %button;
      border: 1px solid rgba(255,255,255,.2);
      border-radius: 50%;
      width: 61px;
      height: 61px;
    }
  }

  .header_phone {
    margin-left: 46px;
    a {
      font: 18px $font;
      font-weight: 600;
      color: $color-grey;
    }
  }

  .header_btn-menu {
    align-items: flex-end;
    margin-left: 56px;
    cursor: pointer;

    span {
      display: block;
      background: $color-red;
    }
    span:nth-child(1), span:nth-child(3) {
      width: 19px;
      height: 2px;
    }
    span:nth-child(2) {
      margin: 5px 0;
      width: 14px;
      height: 2px;
    }
  }

  /* Раскрытое меню в шапке */

#header-open {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: white;

  @include mq('tablet-wide') {
    height: 100%;
    overflow: auto;
  }
}

#header-open.open {
  display: block;
}

.header-open_wrap {

  .container {
    padding: 0 10px;
  }
}

.header-wrap {
  padding: 28px 0 33px;
  justify-content: space-between;

  .main-header_left {
    @include mq('tablet-small') {
      flex-direction: column;
    }
  }

  .main-header_company-text {

    @include mq('tablet-small') {
      margin-left: 0;
      margin-top: 20px;
    }

    @include mq('phone') {
      display: none;
    }

  }
}

.header_btn-menu_close {
  align-items: center;
  cursor: pointer;

  .close {
    margin-top: 5px;
    margin-right: 35px;
    font: 18px TTNorms, sans-serif;
    font-weight: 400;
    color: $color-grey;
    border-bottom: 1px solid;
  }

  .x {
    display: block;
  }
}

.header-menu_wrap {
  padding: 40px 0 60px;
  border-top: 1px solid $light-grey;
  justify-content: space-between;

  @include mq('tablet-wide') {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header-contacts, .header-menu, .header-social-link, .header-other {
    @include mq('desktop') {
      margin-right: 20px;
    }

    @include mq('tablet-wide') {
      margin: 20px 10px !important;
    }
  }

  .element a, .element p, .element span {
    font: 18px/24px $font;
    font-weight: 500;
    color: $color-grey;
  }
}

.header-menu {
  .element {
    width: 100%;
    flex: 1 1 100%;

    &:nth-child(1) {
      margin-right: 80px;
    }

    li {
      a {
        padding-bottom: 3px;
        font: 18px/40px $font;
        font-weight: 500;
        color: $color-grey;
        transition: all .3s linear;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: 1px solid;
        }
      }
    }

    li.active {
      a {
        border-bottom: 1px solid;
      }
    }
  }
}

.header-contacts {
  margin: 8px 0 6px;
  justify-content: space-between;
  flex: 1 1 25%;

  @include mq('tablet-wide') {
    flex: 1 1 100%;
  }

  a {
    display: block;
  }
}

.header-address {
  .address-icon {
    margin-bottom: 20px;

    @include mq('tablet-wide') {
      margin-top: 20px;
    }
  }
}

.header-other {
  margin: 8px 0;
  justify-content: space-between;
  flex: 1 1 25%;

  .other-info {
    p {
      color: black;
    }
  }
}

.header_copyright {
  p {
    font: 14px $font;
    font-weight: 400;
    color: #838383;
  }
}

.header-social-link {
  margin: 8px 0 4px;
  justify-content: space-between;
  align-items: flex-end;

  @include mq('tablet-wide') {
    align-items: flex-start;
    flex: 1 1 100%;
  }

  a {
    display: block;
  }

  .header-social {
    .youtube, .insta {
      margin-left: 9px;
    }
  }

  .header-link {
    padding-bottom: 4px;

    p {
      font: 14px $font;
      font-weight: 400;
      color: #838383;
    }

    a {
      margin-left: 5px;
      font: 14px $font;
      font-weight: 400;
      color: $color-red;
    }

    @include mq('desktop') {
      flex-direction: column;
    }
  }

}

.red {
  color: $color-red !important;
}

.underline {
  text-decoration: underline !important;
}
  /* Модалки */
.section-6_form-wrap {
  width: 62%;
  margin-top: 65px;

  @include mq('desktop') {
    width: 80%;
  }

  @include mq('phablet') {
    @include auto;
  }

  @include mq('phone-wide') {
    width: 100%;
  }
}

#order-call {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: white;

  @include mq-custom(1200px) {
    height: 100%;
    overflow: auto;
  }

  .header-address {
    margin-top: 20px;
  }

  .header-menu_wrap {
    @include mq-custom(1200px) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .order-call-form_wrap {
      width: 50%;
      flex: 1 1 50%;

      @include mq-custom(1200px) {
        width: 100%;
        flex: 1 1 100%;
        order: 1;
      }

      .form-title {
        @include mq('tablet') {
          text-align: center;
        }
      }
    }

    .order-call__input_form-wrap {
      @include mq-custom(1200px) {
        flex-direction: column;
      }

      .input-wrap.input {
        @include mq('tablet') {
          max-width: 300px;
          @include auto;
        }
      }
    }

    .input-checkbox {
      margin-left: 30px;
    }

    .header-contacts, .header-other {
      @include mq-custom(1200px) {
        order: 2;
        margin-top: 50px;
      }
    }

    .order-call__input_form-agree_wrap {
      @include mq('tablet') {
        flex-direction: column;
      }

      .input-checkbox {
        @include mq('tablet') {
          width: 100%;
          flex: 1 1 100%;
          margin-left: 0;
        }
      }

      .input-checkbox {
        br {
          @include mq('tablet') {
            display: none;
          }
        }
      }

      .btn-form_submit {
        @include mq('tablet') {
          order: 2;
        }
      }
    }
  }
}

.order-call-form_wrap {

  .form-title {
    h3 {
      font: 30px $font-2;
      font-weight: 500;
      color: $color-grey;

      @include mq('phablet') {
        font: 26px $font-2;
      }
    }
  }

  .input-wrap {
    overflow: hidden;
    margin-top: 25px;
    margin-right: 8px;

    @include mq('tablet') {
      margin-right: 0;
    }
  }

  .btn-form_submit {
    @extend %btn-general;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    font: 18px $font;
    font-weight: 400;
    color: white;

    @include mq('tablet-wide') {
      @include auto;
    }
  }
}

.order-call-form_wrap {
  .input-wrap {
    &:nth-child(1) {
      width: 48%;
      flex: 1 1 48%;

      @include mq('tablet') {
        width: 100%;
        flex: 1 1 100%;
      }
    }
    &:nth-child(2) {
      width: 48%;
      flex: 1 1 48%;

      @include mq('tablet') {
        width: 100%;
        flex: 1 1 100%;
      }
    }
  }
}

#btn-window {
  position: fixed;
  z-index: 998;
  top: 50%;
  transform: translateY(-50%);
  right: -41px;

  @include mq-custom(1920px) {
    top: auto;
    bottom: 20px;
    right: -31px;
    transform: translateY(0);
  }

  button {
    @extend %btn-general;
    border: none;
    width: 269px;
    cursor: pointer;

    @include mq-custom(1920px) {
      width: 200px;
    }

    img {
      margin-left: -30px;

      @include mq-custom(1920px) {
        max-width: 25px;
      }
    }

    span {
      margin-left: 10px;
      font: 18px $font-2;
      color: white;

      @include mq-custom(1920px) {
        margin-left: 5px;
        font: 14px GeometriaM, sans-serif;
        color: white;
      }
    }
  }
}

#modal_order-window.open {
  visibility: visible;
  right: 0;
  transition: all 1s linear;
}

#modal_order-window {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  height: 100%;
  visibility: hidden;
  width: auto;
  max-width: 570px;
  padding: 54px 100px;
  background: white;
  transition: all 1s linear;

  @include mq-custom(1920px) {
    padding: 54px 80px;
    margin-bottom: 50px;
    overflow: auto;
  }

  @include mq('tablet-wide') {
    margin-top: 30px;
    @include auto;
    width: 100%;
  }

  form {
    @include mq('tablet-wide') {
      @include auto;
      max-width: 300px;
    }
  }

  @include mq('desktop') {
    padding: 25px 80px;
  }

  @include mq('tablet-wide') {
    padding: 25px 50px;
  }

  @include mq('tablet') {
    padding: 25px 20px;
  }

  h3 {
    font: 29px $font-2;
    font-weight: 500;
    color: $color-grey;

    @include mq('tablet-wide') {
      text-align: center;
    }
  }

  .input-wrap {
    overflow: hidden;
    margin-top: 25px;
    width: 100%;
    max-width: 360px;

    &:nth-child(1) {
      margin-top: 35px;
    }
  }

  .textarea {
    textarea {
      height: 62px;
    }
  }

  @include title-triangle;

  .btn-form_submit {
    @extend %btn-general;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 38px;
    font: 18px $font;
    font-weight: 400;
    color: white;

    @include mq('tablet-wide') {
      @include auto;
    }
  }

  .header_btn-menu_close {
    margin-bottom: 115px;
    cursor: pointer;

    @include mq-custom(1920px) {
      margin-bottom: 50px;
    }
  }
}

#modal_order-window_section-5.open {
  visibility: visible;
  right: 0;
  transition: all .2s linear;
}

#modal_order-window_section-5 {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  height: 100%;
  width: auto;
  max-width: 570px;
  visibility: hidden;
  padding: 54px 100px;
  background: white;
  transition: all .2s linear;

  @include mq-custom(1920px) {
    padding: 54px 80px;
    margin-bottom: 50px;
    overflow: auto;
  }

  @include mq('tablet-wide') {
    @include auto;
    width: 100%;
  }

  form {
    @include mq('tablet-wide') {
      margin-top: 30px;
      @include auto;
      max-width: 300px;
    }
  }

  @include mq('desktop') {
    padding: 25px 80px;
  }

  @include mq('tablet-wide') {
    padding: 25px 50px;
  }

  @include mq('tablet') {
    padding: 25px 20px;
  }

  h3 {
    font: 29px $font-2;
    font-weight: 500;
    color: $color-grey;

    @include mq('tablet-wide') {
      text-align: center;
    }
  }

  .input-wrap {
    overflow: hidden;
    margin-top: 25px;
    width: 100%;
    max-width: 360px;

    &:nth-child(1) {
      margin-top: 35px;
    }
  }

  .textarea {
    textarea {
      height: 62px;
    }
  }

  @include title-triangle;

  .btn-form_submit {
    @extend %btn-general;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 38px;
    font: 18px $font;
    font-weight: 400;
    color: white;

    @include mq('tablet-wide') {
      @include auto;
    }
  }

  .header_btn-menu_close {
    margin-bottom: 115px;
    cursor: pointer;

    @include mq-custom(1920px) {
      margin-bottom: 50px;
    }
  }
}

/* Галерея проектов */
#modal_project-gallery {
  display: none;
  position: absolute;
  z-index: 999;
  padding-bottom: 100px;
  width: 100%;
  height: 100%;
  top: -50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow-y: auto;
  overflow-x: hidden;
  background: white;

  .title-close-btn_wrap {
    justify-content: space-between;
    align-items: center;

    @include mq-custom(500px) {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }

    .project-gallery_title {

      @include mq-custom(500px) {
        order: 2;
        margin-top: 5px;
        margin-bottom: 50px;;
      }
    }

    .header_btn-menu_close {

      @include mq-custom(500px) {
        order: 1;
        margin-top: 15px;
      }
    }
  }
}

.project-gallery_title {
  margin-top: 85px;
  margin-bottom: 70px;
  h2 {
    @include font-title(55px,$font,$color-grey);
  }
}

.project-gallery__slider-wrap {
  padding: 0 36px;
  position: relative;
}

#project-gallery_slider {
  padding: 0 26px;

  .slide {
    position: relative;
    overflow: hidden;
    max-width: 700px;
    margin: 0 auto;

    &:before {
      @include pseudo(2,7px,7px,7px,7px);
      border: 2px solid white;
    }

    img {
      display: block;
      width: auto !important;
      max-width: 700px;
    }
  }

  .section-5_slider__prev {
    left: -20px;
  }

  .section-5_slider__next {
    right: -20px;
  }
}

.about-project {
  display: none;
  position: absolute;
  padding: 30px 0;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);

  .header_btn-menu_close {
    padding-right: 35px;
    justify-content: flex-end;

    .close {
      margin-top: 5px;
      font: 18px TTNorms, sans-serif;
      font-weight: 400;
      color: $color-grey;
      border-bottom: 1px solid;
    }

    .x {
      display: block;
    }
  }

  .text {
    padding: 50px;

    @include mq('tablet') {
      padding: 50px 0;
    };

    h3 {
      margin-bottom: 20px;
      font: 24px $font;
      font-weight: 500;
      color: #4a4a4a;
    }

    p {
      margin: 15px 0;
      font: 18px $font;
      font-weight: 400;
      color: #4a4a4a;
    }

    ul {
      margin: 15px 0;
      padding-left: 20px;

      li {
        list-style: disc;
        font: 18px/24px $font;
        font-weight: 400;
        color: #4a4a4a;
      }
    }
  }
}

#thanks {
  display: none;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: white;
  box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.75);

  .container {
    padding: 0;
  }

  .header_btn-menu_close {
    position: relative;
    padding-top: 30px;
    padding-right: 35px;
    justify-content: flex-end;
    @include title-triangle;

    .close {
      margin-top: 5px;
      font: 18px TTNorms, sans-serif;
      font-weight: 400;
      color: $color-grey;
      border-bottom: 1px solid;
    }

    .x {
      display: block;
    }
  }

  .text {
    padding: 60px 150px;
    text-align: center;

    @include mq('tablet-wide') {
      padding: 50px;
    };

    @include mq('tablet') {
      padding: 50px 0;
    };

    h3 {
      margin-bottom: 20px;
      font: 48px $font;
      font-weight: 500;
      color: #4a4a4a;
    }

    p {
      margin: 45px 0;
      font: 18px $font;
      font-weight: 400;
      color: #4a4a4a;
    }
  }
}

#next-section {
  position: fixed;
  z-index: 996;
  right: 320px;
  bottom: 260px;

  @include mq-custom(1919px) {
    display: none;
  }

  p {
    position: relative;
    font: 18px $font;
    font-weight: 400;
    color: $color-red;
    writing-mode: tb-rl;
    transform:rotate(180deg);

    &:after {
      @include pseudo(2,3px,auto,auto,55px);
      height: 260px;
      width: 2px;
      background: $color-red;
      transform: rotate(180deg);
    }
  }
}
  @import "section-1";
  @import "section-2";
  @import "section-3";
  @import "section-4";
  @import "section-5";
  @import "section-6";
  @import "section-7";
  @import "section-8";
  @import "section-9";
  @import "section-10";